{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>

    <div class="row">
      {% for iphone in iphones %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mt-4 shadow-sm">

            <a href="{{url_for('core.detail', id=iphone.id)}}">
              <img src="{{iphone.img_url}}" alt="" class="card-img-top bg-light" style="height:250px; object-fit:cover;">
            </a>

            <div class="card-body text-center">
              <h5 class="fw-bold">{{iphone.name}}</h5>
              <p class="text-muted mb-1">{{iphone.model}}</p>

              <p class="text-primary fw-bold">
                {{ "{:,}".format(iphone.price) }} ฿
              </p>

              {% for type in iphone.types %}
                <span class="badge bg-secondary">
                  {{type.name}}
                </span>
              {% endfor %}

            </div>

          </div>
        </div>
      {% endfor %}
    </div>

    <br>
    {% include "core/pagination.html" %}
  </div>
{% endblock %}