{% extends 'layout.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>{{ title }}</h1>
    <hr>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <h2>New Iphone Form</h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Iphone Name</label>
                    <input name="name" type="text" class="form-control" id="name" required>
                </div>

                <div class="mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input name="model" type="text" class="form-control" id="model" required>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" type="text" class="form-control" id="price" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label for="img_url" class="form-label">Image URL</label>
                    <input name="img_url" type="text" class="form-control" id="img_url" required>
                </div>

                <hr>
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="bi bi-phone"></i>
                    Add New Iphone
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}